/* You can add global styles to this file, and also import other style files */
main {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1rem;
}

h2 {
    text-decoration: underline;
}
